#guide-background {
  fill:#E8FFFA;
}

#guide-main-background {
  fill:#FFFFFF;
}

#guide-scrollbar {
  fill:#002F87;
}

#guide-close-button {
  cursor: pointer;
}

#guide-close-button > text, #guide-title {
  fill:#002F87;
  font-size:20px;
}

.guide-tab {
  fill:transparent;
  stroke:#F27777;
  stroke-miterlimit:10;
  cursor: pointer;
}

.guide-tab > text {
  fill:#F27777;
  font-size:17px;
}

.guide-tab-active {
  fill:#FFF;
}

div#guide-content-div {
	padding: 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  height: 99.5%;
  border: 2px solid #F27777;
}

.empty-col, .img-col {
	width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
}

.text-block {
	text-align: justify;
	width: 50%;
	flex-direction: column;

  font-size: 1.5em;
  font-family:Roboto, sans-serif;
  color:#000000;
  line-height: 1.5em;
  font-style:normal;
  font-weight:normal;
}

.guide-list > li {
	padding-bottom: 1em;
}

.text-block > h1 {
	font-family:"Playfair Display SemiBold", serif;
	font-size:2.5em;
	font-weight:600;
	line-height: 1em;
	text-align: left;
}

.text-block > blockquote {
	padding-left: 10%;
	width:90%;
	font-style:italic;
}

.text-block > a {
  color:DodgerBlue;
  font-size:1em;
  font-style:italic;
  padding-bottom: 20em;
}

a > i {
  padding-left: 1em;
}

.guide-img {
	width: 100%;
	height: auto;
  padding: 0;
  margin: 0;
}

div#guide-svg-container {
  top: 2vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

div#guide-modal{
  background: #E8FFFA;
  color: #000;
  height:100vh;
  z-index: 1030;
  align-items: center;
  align-content: center;
  /* width:auto; */
}

/* width */
::-webkit-scrollbar {
 width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f0f5ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #002F87;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #002975;
}
