.organizer-text {
  fill:#002F87;
  font-weight: bolder;
  font-size:18px;
}

.organizer-name {
  fill:#002F87;
  font-weight: bolder;
  font-size:21px;
}

.organizer-node {
  fill:#F3022F;
  opacity: .77;
}

.organizer-description {
  color:#002F87;
  font-size:18px;
  height: 880px;
  padding: 0 10px;
  position:relative;
  overflow: auto;
}

.organizer-time {
  fill:#002F87;
  font-size:15px;
  letter-spacing: 2px;
}

.cev-stroke-color {
  stroke: #986B58;
}

.cev-fill-color {
  fill:#002F87;
  stroke:none;
}

.ictj-fill-color {
  fill:#FF6B00;
  stroke:none;
}

.ictj-stroke-color {
  stroke:#FF6B00;
}

.abc-fill-color {
  fill:#00B189;
  stroke:none;
}

.abc-darkfill {
  fill:#266041;
  stroke:none;
}

.abc-stroke-color {
  stroke:#266041;
}

.abc-theme {
  font-size:18px;
  fill: black;
  font-weight: bolder;
}

.abc-link {
  opacity:0.7;
  fill:none;
  stroke:#266041;
  stroke-width:0.7;
  stroke-miterlimit:10;
}

.abc-name {
  fill:#266041;
  font-weight: bolder;
  font-size:21px;
}

.node-opacity {
  opacity: 0.77;
}

.abc-node {
  cursor:pointer;
}
