.organizer-text {
  fill:#002F87;
  font-weight: bolder;
  font-size:17px;
}

.organizer-description {
  fill:#002F87;
  font-size:18px;
}

.organizer-color {
  fill:#002F87;
  stroke:none;
}

.cev-stroke-color {
  stroke: #986B58;
}

.cev-fill-color {

}

.organizer-time {
  fill:#002F87;
  font-size:13px;
  letter-spacing: 2px;
}
