.organizer-text {
  fill: #002f87;
  font-weight: bolder;
  font-size: 18px;
  stroke: none;
}

.organizer-name {
  fill: #002f87;
  font-weight: bolder;
  font-size: 21px;
  stroke: none;
}

.organizer-node {
  fill: #f3022f;
  opacity: 0.77;
}

.organizer-description {
  color: #002f87;
  font-size: 18px;
  height: 880px;
  padding: 0 10px;
  position: relative;
  overflow: auto;
  fill: #002f87;
  stroke: none;
}

.organizer-time {
  fill: #002f87;
  font-size: 15px;
  letter-spacing: 2px;
}

.cev-stroke-color {
  stroke: #986b58;
}

.cev-fill-color {
  fill: #002f87;
  stroke: none;
}

.ictj-fill-color {
  fill: #ff6b00;
  stroke: none;
}

.ictj-stroke-color {
  stroke: #ff6b00;
}

.abc-fill-color {
  fill: #00b189;
  stroke: none;
}

.abc-darkfill {
  fill: #266041;
  stroke: none;
}

.abc-stroke-color {
  stroke: #266041;
}

.abc-theme {
  font-size: 18px;
  fill: black;
  font-weight: bolder;
}

.abc-link {
  opacity: 0.7;
  fill: none;
  stroke: #266041;
  stroke-width: 0.7;
  stroke-miterlimit: 10;
}

.abc-name {
  fill: #266041;
  font-weight: bolder;
  font-size: 21px;
}

.node-opacity {
  opacity: 0.77;
}

.abc-node {
  cursor: pointer;
}
